# Compiled source code
*.o
*.slo
*.lo
*.so
*.lai
*.la
*.a
*.obj
*.lib
*.dll
*.exe

# Log Files
*.log

# Example Programs
bin/example-*

# Autoconf files
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
bin/
collections.pc
compile
config.guess
config.status
config.sub
configure
depcomp
examples/.deps
install-sh
lib/
libtool
ltmain.sh
m4/
missing
src/.deps
src/libcollections-config.h
src/libcollections-config.h.in
src/stamp-h1
